@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great");
body {
  width: 100vw;
  background-color: #cee5ff;
  font-family: abril fatface, cursive; }

p {
  margin: 0; }

h2 {
  margin: 2%; }

.flexbox {
  position: fixed;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(153, 205, 251, 0.7);
  z-index: 1;
  box-shadow: 3px 3px 3px rgba(64, 73, 104, 0.5); }
  .flexbox img {
    width: 70px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1; }
  .flexbox .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 5%; }
    .flexbox .dropdown .hamburger {
      opacity: 1;
      right: 0;
      top: 0;
      z-index: 3; }
    .flexbox .dropdown .navmap {
      opacity: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      position: absolute;
      min-width: 200px;
      z-index: 2;
      transform: translate(100%, 0);
      transition: all 1s ease; }
      .flexbox .dropdown .navmap li {
        display: inline-block;
        padding: 10%;
        width: 100%;
        background: #74A2E7;
        border: 4px groove rgba(195, 221, 244, 0.7); }
      .flexbox .dropdown .navmap a {
        margin: 0;
        padding: 10%;
        text-decoration: none;
        width: 100%;
        font-size: 24px;
        color: white;
        text-shadow: 1px 1px 1px black; }
  .flexbox .hamburger {
    opacity: 1;
    z-index: 3; }
  .flexbox input[type="checkbox"] {
    opacity: 0;
    height: 70px;
    width: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    -webkit-touch-callout: none; }
  .flexbox input:checked ~ .navmap {
    opacity: 1;
    transform: translate(-80%, 0%); }
    .flexbox input:checked ~ .navmap .hamburger {
      border: 1px solid white; }

.title-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../images/jagged-mountain2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 600px;
  font-family: fredericka the great;
  box-shadow: 3px 3px 3px rgba(64, 73, 104, 0.5); }
  .title-page .preamble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #C3DDF4;
    font-size: 54px;
    text-align: center;
    text-shadow: 2px 2px 3px #404968, 2px 2px 3px #404968, 2px 2px 3px #404968;
    min-width: 450px;
    width: 100%;
    padding: 0%;
    margin: 0; }
    .title-page .preamble p:nth-of-type(1) {
      order: 2;
      margin: 0;
      color: #5170A8; }
    .title-page .preamble p:nth-of-type(2) {
      order: 3;
      margin: 0; }
    .title-page .preamble p:nth-of-type(3) {
      order: 4;
      margin: 0; }
    .title-page .preamble img {
      width: 300px;
      order: 1; }

#skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 5%; }
  #skills .card {
    min-width: 300px;
    height: 300px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #99cdfb;
    border-radius: 30px;
    box-shadow: 4px 4px 4px 4px rgba(64, 73, 104, 0.5);
    transition: all 0.3s linear; }
    #skills .card p {
      margin: 10%;
      width: 260px;
      padding: 5px;
      height: 500px;
      background: #C3DDF4; }
    #skills .card img {
      background: #C3DDF4;
      padding: 20px;
      padding-left: 100px;
      padding-right: 100px;
      margin: 3%; }
    #skills .card:hover {
      box-shadow: 7px 7px 8px 5px rgba(64, 73, 104, 0.5);
      transform: scale(1.02, 1.02); }

.picture {
  background: url("../images/snowy-valley.JPG");
  background-attachment: fixed;
  background-position: center;
  min-height: 600px;
  width: 100%;
  display: grid;
  grid-row: repeat(3, 33%);
  text-align: center;
  color: #C3DDF4;
  text-shadow: 1px 1px 1px black, 1px 1px 1px black;
  box-shadow: 3px 3px 3px 5px rgba(64, 73, 104, 0.5); }
  .picture .box1 {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    height: 100%;
    transition: all 1s ease; }
    .picture .box1 .box-content {
      margin: 5%;
      width: 200px;
      border-radius: 30px;
      overflow: hidden;
      transition: all 1s ease; }
      .picture .box1 .box-content h2 {
        background: #5170A8;
        margin: 0;
        width: 100%;
        padding: 5% 5% 5% 0%;
        z-index: 1; }
      .picture .box1 .box-content p {
        margin: 0;
        padding-top: 10%;
        height: 100%;
        transition: all 1s ease; }
    .picture .box1:hover .box-content {
      box-shadow: 7px 7px 5px 5px rgba(64, 73, 104, 0.5);
      border: 1px solid white;
      transform: scale(1.02, 1.02); }
    .picture .box1:hover p {
      background-color: rgba(153, 205, 251, 0.7); }
  .picture .box2 {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    transition: all 1s ease; }
    .picture .box2 .box-content {
      margin: 5%;
      width: 200px;
      border-radius: 30px;
      overflow: hidden;
      transition: all 1s ease; }
      .picture .box2 .box-content h2 {
        background: #5170A8;
        margin: 0;
        width: 100%;
        padding: 5% 5% 5% 0%;
        z-index: 1; }
      .picture .box2 .box-content p {
        margin: 0;
        padding-top: 10%;
        height: 100%;
        transition: all 1s ease; }
    .picture .box2:hover .box-content {
      box-shadow: 7px 7px 5px 5px rgba(64, 73, 104, 0.5);
      border: 1px solid white;
      transform: scale(1.02, 1.02); }
    .picture .box2:hover p {
      background-color: rgba(153, 205, 251, 0.7); }
  .picture .box3 {
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 100%;
    transition: all 1s ease; }
    .picture .box3 .box-content {
      margin: 5%;
      width: 200px;
      border-radius: 30px;
      overflow: hidden;
      transition: all 1s ease; }
      .picture .box3 .box-content h2 {
        background: #5170A8;
        margin: 0;
        width: 100%;
        padding: 5% 5% 5% 0%;
        z-index: 1; }
      .picture .box3 .box-content p {
        margin: 0;
        padding-top: 10%;
        height: 100%;
        transition: all 1s ease; }
    .picture .box3:hover .box-content {
      box-shadow: 7px 7px 5px 5px rgba(64, 73, 104, 0.5);
      border: 1px solid white;
      transform: scale(1.02, 1.02); }
    .picture .box3:hover p {
      background-color: rgba(153, 205, 251, 0.7); }

.blog {
  padding: 10%;
  box-shadow: 3px 3px 3px rgba(64, 73, 104, 0.5); }

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: auto;
  text-align: center; }
  .contact-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
