@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great');

$skyblue: rgb(153, 205, 251);
$skybluetrans: rgba(153, 205, 251,0.7);
$freshblue: #74A2E7;
$darkgrey: #404968;
$darkgreytrans: rgba(64, 73, 104,0.5);
$lightblue: #C3DDF4;
$lightbluetrans: rgba(195, 221, 244,0.7);
$steelblue: #5170A8;

@mixin card-animation {
  .box-content {
    box-shadow: 7px 7px 5px 5px $darkgreytrans;
    border: 1px solid white;
    transform:scale(1.02,1.02);
  }
  p{
    background-color: $skybluetrans;
  }
}
@mixin card-format {
  width:100%;
  height:100%;
  transition: all 1s ease;
  .box-content{
    margin:5%;
    width: 200px;
    border-radius: 30px; 
    overflow: hidden;
    transition: all 1s ease;
    h2 {
      background: $steelblue;
      margin:0;
      width:100%;
      padding:5% 5% 5% 0%;
      // height:75px;
      z-index: 1;
    }
    p{
      margin:0;
      padding-top:10%;
      height:100%;
      transition: all 1s ease;
    }
  }
  &:hover{
    @include card-animation()
  }
  
}
body {
  width:100vw;
  background-color: rgb(206, 229, 255);
  font-family: abril fatface, cursive;
  // color: blue;
  // background: url('../images/logo.png');
  // background-attachment: fixed;
  // background-size: cover;
}

p {
  margin: 0;
}

h2{
  margin:2%;
}
.flexbox {
  position: fixed;
  width:100vw;
  height:75px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  background: $skybluetrans;
  z-index: 1;
  box-shadow: 3px 3px 3px $darkgreytrans;
  // position: fixed; 
  // padding-left:5%;
  // padding-right:85%;
  
  img {
    width: 70px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
    // border: 1px solid $lightblue;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right:5%;
    .hamburger {
      opacity:1;
      // position: relative;
      right:0;
      top:0;
      z-index: 3;
      // position: relative;
      // padding: 10%;
      // float: right;
    }
    .navmap {
      // display:none;
      opacity:0;
      padding: 0;
      
      text-align: center;
      list-style: none;
      position: absolute;
      min-width:200px;
      z-index: 2;
      transform: translate(100%,0);
      transition: all 1s ease;
      li {
        display:inline-block;
        padding: 10%;
        width:100%;
        // border-style: 
        background: $freshblue;
        border:4px groove $lightbluetrans;
      }
      a {
        margin:0;
        padding:10%;
        text-decoration: none;
        width:100%;
        font-size: 24px;
        color:white;
        text-shadow: 1px 1px 1px black;
        }
      }
    }
    .hamburger {
      opacity:1;
      z-index: 3;
      // position: relative;
      // padding: 10%;
      // float: right;
    }
    input[type="checkbox"] {
      // -webkit-appearance: none;
      opacity:0;
      height:70px;
      width:70px;
      margin:0;
      padding: 0;
      position: absolute;
      z-index: 2;
      cursor: pointer;
      -webkit-touch-callout: none;
    }
    input:checked ~ .navmap{
      opacity: 1;
      transform: translate(-80%,0%);
      .hamburger{
        border: 1px solid white;
      }
    }
  }

.title-page {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('../images/jagged-mountain2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  width:100%;
  min-height: 600px;
  font-family: fredericka the great;
  box-shadow: 3px 3px 3px $darkgreytrans;
  .preamble {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    color:$lightblue;
    font-size:54px;
    text-align: center;
    text-shadow: 2px 2px 3px $darkgrey, 2px 2px 3px $darkgrey, 2px 2px 3px $darkgrey;
    min-width:450px;
    width: 100%;
    padding: 0%;
    margin:0;
    p:nth-of-type(1){
      order:2;
      margin: 0;
      color: $steelblue;
    }
    p:nth-of-type(2){
      order:3;
      margin: 0;
    }
    p:nth-of-type(3){
      order:4;
      margin: 0;
    }
    img {
      width:300px;
      order:1;
    }
  }
}

#skills{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height:100%;
  margin-top:5%;
  .card {
    min-width:300px;
    height:300px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $skyblue;
    border-radius:30px;
    box-shadow: 4px 4px 4px 4px $darkgreytrans;
    transition: all 0.3s linear;
    p {
      margin:10%;
      // border: 1px solid $darkgrey;
      width:260px;
      padding: 5px;
      height:500px;
      background: $lightblue;
    }
    img{
      background: $lightblue;
      padding:20px;
      padding-left:100px;
      padding-right:100px;
      margin:3%;
    }
    &:hover {
      box-shadow: 7px 7px 8px 5px $darkgreytrans;
      transform:scale(1.02,1.02);
      // margin-left:5px;
      // margin-bottom: 5px;
    }
  }
}

.picture{
  background: url('../images/snowy-valley.JPG');
  background-attachment: fixed;
  background-position: center;
  min-height:600px;
  width:100%;
  display: grid;
  grid-row:repeat(3,33%);
  text-align: center;
  color:$lightblue;
  text-shadow: 1px 1px 1px black, 1px 1px 1px black, ;
  box-shadow: 3px 3px 3px 5px $darkgreytrans;
  .box1{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    @include card-format()
  }
  .box2{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-content: center;
    @include card-format()
  }
  .box3{
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    @include card-format()
  }
}

.blog {
  padding: 10%;
  box-shadow: 3px 3px 3px $darkgreytrans;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
  margin:auto;
  text-align: center;
  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius:50%;
  }
}